<h2>Task &amp; hour summary</h2>
<div class="total"><b>12</b> tasks in <b>3</b> projects</div>
<div class="total">Total hours: <b>159</b></div>
<div class="total">Total earnings: <b>3495 &euro;</b></div>
