[dev]
dbi = dbi:mysql:hours_dev
user = hours_dev
passwd = rgtsfhpu

[prd]
dbi = dbi:mysql:hours_prod
user = hours_prod
passwd = hkhlqwpg

[test]
dbi = dbi:mysql:hours_test
user = hours_test
passwd = fbqklyqk
